:root {
  --app-max-width: 100%;
  --color-link: rgb(0, 100, 200);
  --color-accent: #bd4b00;
  --color-selected: #bd4b00;
  --color-accent-pressed: #ff400046;
  --color-success: rgb(0, 190, 0);
  --color-danger: rgb(190, 0, 0);
  --color-background-outside: #ddd;
  --color-background: #f1f1f1;
  --color-text: #333;
  --color-text-muted-little: #666;
  --color-text-muted: #888;
  --color-disabled: #aaa;
  --input-border: 1px solid #aaa;
  --spacing-1: 0.125rem;
  --spacing-2: 0.25rem;
  --spacing-3: 0.5rem;
  --spacing-4: 1rem;
  --font-size-tiny: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;
  --label-input-spacing: var(--spacing-2);
  --field-spacing: var(--spacing-3);
  --lh-copy: 160%;
  --focus-shadow: 0 0 3pt 2pt #ff6600;
  --color-hover: #e6e6e6;

  /* browser's "normal" line height if not set otherwise */
  --assumed-normal-lh: 1.2;

  /* vertical positioning of the minimized "NowPlaying"*/
  --mini-player-height: 160px;
  --mini-player-bottom: 150px;

  /* 
    bottom-bar-height is:
    icon + height of the span + padding-top of the span + v-padding of the button 
  */
  --bottom-bar-height: calc(
    24px + var(--font-size-tiny) * var(--assumed-normal-lh) + var(--spacing-2) +
      2 * var(--spacing-2)
  );
  --min-touchable-size: 44px;

  --image-fallback-color: var(--color-accent);

  --now-playing-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

  --button-press-transform: scale(0.85);
}

html,
body {
  width: 100%;
}

html {
  overflow-y: scroll;
  background-color: var(--color-background-outside);
  font-size: 16px;
  min-height: -webkit-fill-available;
}

body {
  color: var(--color-text);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  max-width: var(--app-max-width);
  background-color: var(--color-background);
}

body,
body * {
  box-sizing: border-box;
}

body *:not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  border: 1px solid #ccc;
  border-radius: 2px;
}

button:not(:disabled) {
  cursor: pointer;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

button:focus,
input:focus {
  /* for browsers that don't support :focus-visible */
  box-shadow: var(--focus-shadow);
}
button:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
  /* reset style set by :focus for browsers that do supoort :focus-visible */
  box-shadow: none;
}
button:focus-visible,
input:focus-visible {
  /* for browsers that do support :focus-visible */
  box-shadow: var(--focus-shadow);
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.pointer {
  cursor: pointer;
  /* chrome on android makes stuff that has `cursor: pointer` 
     blue when tapped which is not wanted here */
  -webkit-tap-highlight-color: transparent; /* fixes the slide animation on Safari */
}

@media screen and (min-width: 640px) {
  :root {
    --app-max-width: 640px;
  }
  body {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (pointer: fine) {
  :root {
    /* only highlight hovering not on phone*/
    --background-hover-list: var(--color-hover);
  }
}

/* 
Hacky way to detect Safari on iOS. Need to do this because if applying
min-height: -webkit-fill-available also on chrome, the body will have the wrong
height (i.e. equals content instead of window height) if there's no content.
*/
@supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
}
