:root {
  --app-max-width: 100%;
  --color-link: rgb(0, 100, 200);
  --color-accent: #bd4b00;
  --color-selected: #bd4b00;
  --color-accent-pressed: #ff400046;
  --color-success: rgb(0, 190, 0);
  --color-danger: rgb(190, 0, 0);
  --color-background: #f5f5f5;
  --color-text: #332;
  --color-text-muted: #888;
  --color-disabled: #aaa;
  --input-border: 1px solid #aaa;
  --spacing-1: 0.125rem;
  --spacing-2: 0.25rem;
  --spacing-3: 0.5rem;
  --spacing-4: 1rem;
  --font-size-tiny: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;
  --label-input-spacing: var(--spacing-2);
  --field-spacing: var(--spacing-3);
  --lh-copy: 160%;
  --focus-shadow: 0 0 3pt 2pt #ff6600;
  --color-hover: #eee;

  /* browser's "normal" line height if not set otherwise */
  --assumed-normal-lh: 1.2;

  /* vertical positioning of the minimized "NowPlaying"*/
  --mini-player-height: 160px;
  --mini-player-bottom: 150px;

  --min-touchable-size: 44px;

  --image-fallback-color: var(--color-accent);
}

html {
  overflow-y: scroll;
}

html,
body {
  width: 100%;
}

html {
  background-color: #eee;
  font-size: 16px;
}

body {
  color: var(--color-text);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  /* height: 1px is a hack needed to fix a bug in firefox*/
  /* height: 1px; */
  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-width: var(--app-max-width);
  background-color: var(--color-background);
}

body,
body * {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

button:not(:disabled) {
  cursor: pointer;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

button:focus,
input:focus {
  /* for browsers that don't support :focus-visible */
  box-shadow: var(--focus-shadow);
}
button:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
  /* reset style set by :focus for browsers that do supoort :focus-visible */
  box-shadow: none;
}
button:focus-visible,
input:focus-visible {
  /* for browsers that do support :focus-visible */
  box-shadow: var(--focus-shadow);
}

.pointer {
  cursor: pointer;
  /* chrome on android makes stuff that has `cursor: pointer` 
     blue when tapped which is not wanted here */
  -webkit-tap-highlight-color: transparent; /* fixes the slide animation on Safari */
}

@media screen and (min-width: 640px) {
  :root {
    --app-max-width: 640px;
  }
  body {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (pointer: fine) {
  :root {
    /* only highlight hovering not on phone*/
    --background-hover-list: var(--color-hover);
  }
}
